/* Background Colors */
[bgcolor="white"] {
  background-color: white;
}
[bgcolor="red"] {
  background-color: red;
}
[bgcolor="blue"] {
  background-color: blue;
}
[bgcolor="yellow"] {
  background-color: white;
}
[bgcolor="green"] {
  background-color: green;
}
[bgcolor="chocolate"] {
  background-color: white;
}
[bgcolor="gray"] {
  background-color: gray;
}
[bgcolor="grey"] {
  background-color: gray;
}
[bgcolor="black"] {
  background-color: black;
}
[bgcolor="orange"] {
  background-color: orange;
}
[bgcolor="fuchsia"] {
  background-color: fuchsia;
}
[bgcolor="RebeccaPurple"] {
  background-color: RebeccaPurple;
}
[bgcolor="Rebecca Purple"] {
  background-color: RebeccaPurple;
}
  [bgcolor="purple"] {
  background-color: purple;
}
  [bgcolor="violet"] {
  background-color: violet;
}
  [bgcolor="magenta"] {
  background-color: magenta;
}
  [bgcolor="indigo"] {
  background-color: indigo;
}
  [bgcolor="orchid"] {
  background-color: orchid;
}
  [bgcolor="navy"] {
  background-color: navy;
}
  [bgcolor="peru"] {
  background-color: peru;
}
  [bgcolor="maroon"] {
  background-color: maroon;
}
  [bgcolor="tan"] {
  background-color: tan;
}
  [bgcolor="wheat"] {
  background-color: wheat;
}
  [bgcolor="almond"] {
  background-color: almond;
}
  [bgcolor="teal"] {
  background-color: teal;
}
  [bgcolor="aquamarine"] {
  background-color: aquamarine;
}
  [bgcolor="cyan"] {
  background-color: cyan;
}
  [bgcolor="white"] {
  background-color: white;
}
  [bgcolor="aqua"] {
  background-color: aqua;
}
  [bgcolor="gold"] {
  background-color: gold;
}
  [bgcolor="moccasin"] {
  background-color: moccasin;
}
  [bgcolor="khaki"] {
  background-color: khaki;
}
  [bgcolor="turquoise"] {
  background-color: turquoise;
}
  [bgcolor="tomato"] {
  background-color: tomato;
}
  [bgcolor="coral"] {
  background-color: coral;
}
  [bgcolor="chartreuse"] {
  background-color: chartreuse;
}
  [bgcolor="salmon"] {
  background-color: salmon;
}
  [bgcolor="crimson"] {
  background-color: crimson;
}
  [bgcolor="lime"] {
  background-color: lime;
}
  [bgcolor="olive"] {
  background-color: olive;
}
  [bgcolor="pink"] {
  background-color: pink;
}
  [bgcolor="cornsilk"] {
  background-color: cornsilk;
}
  [bgcolor="bisque"] {
  background-color: bisque;
}
  [bgcolor="sienna"] {
  background-color: sienna;
}
  [bgcolor="silver"] {
  background-color: silver;
}
  [bgcolor="plum"] {
  background-color: plum;
}
  [bgcolor="lavender"] {
  background-color: lavender;
}
  [bgcolor="thistle"] {
  background-color: thistle;
}
  [bgcolor="beige"] {
  background-color: beige;
}
  [bgcolor="gainsboro"] {
  background-color: gainsboro;
}
  [bgcolor="ivory"] {
  background-color: ivory;
}
  [bgcolor="linen"] {
  background-color: linen;
}
  [bgcolor="azure"] {
  background-color: azure;
}
  [bgcolor="snow"] {
  background-color: snow;
}
  [bgcolor="white"] {
  background-color: white;
}

[bgcolor="pee"] {
  background-color: yellow;
}
[bgcolor="poop"] {
  background-color: brown;
}
[bgcolor="boogers"] {
  background-color: lightgreen;
}

/* Text Colors */
[tcolor="white"] {
  color: white;
}
[tcolor="red"] {
  color: red;
}
[tcolor="blue"] {
  color: blue;
}
[tcolor="yellow"] {
  color: white;
}
[tcolor="green"] {
  color: green;
}
[tcolor="chocolate"] {
  color: white;
}
[tcolor="gray"] {
  color: gray;
}
[tcolor="grey"] {
  color: gray;
}
[tcolor="black"] {
  color: black;
}
[tcolor="orange"] {
  color: orange;
}
[tcolor="fuchsia"] {
  color: fuchsia;
}
[tcolor="RebeccaPurple"] {
  color: RebeccaPurple;
}
[tcolor="Rebecca Purple"] {
  color: RebeccaPurple;
}
  [tcolor="purple"] {
  color: purple;
}
  [tcolor="violet"] {
  color: violet;
}
  [tcolor="magenta"] {
  color: magenta;
}
  [tcolor="indigo"] {
  color: indigo;
}
  [tcolor="orchid"] {
  color: orchid;
}
  [tcolor="navy"] {
  color: navy;
}
  [tcolor="peru"] {
  color: peru;
}
  [tcolor="maroon"] {
  color: maroon;
}
  [tcolor="tan"] {
  color: tan;
}
  [tcolor="wheat"] {
  color: wheat;
}
  [tcolor="almond"] {
  color: almond;
}
  [tcolor="teal"] {
  color: teal;
}
  [tcolor="aquamarine"] {
  color: aquamarine;
}
  [tcolor="cyan"] {
  color: cyan;
}
  [tcolor="white"] {
  color: white;
}
  [tcolor="aqua"] {
  color: aqua;
}
  [tcolor="gold"] {
  color: gold;
}
  [tcolor="moccasin"] {
  color: moccasin;
}
  [tcolor="khaki"] {
  color: khaki;
}
  [tcolor="turquoise"] {
  color: turquoise;
}
  [tcolor="tomato"] {
  color: tomato;
}
  [tcolor="coral"] {
  color: coral;
}
  [tcolor="chartreuse"] {
  color: chartreuse;
}
  [tcolor="salmon"] {
  color: salmon;
}
  [tcolor="crimson"] {
  color: crimson;
}
  [tcolor="lime"] {
  color: lime;
}
  [tcolor="olive"] {
  color: olive;
}
  [tcolor="pink"] {
  color: pink;
}
  [tcolor="cornsilk"] {
  color: cornsilk;
}
  [tcolor="bisque"] {
  color: bisque;
}
  [tcolor="sienna"] {
  color: sienna;
}
  [tcolor="silver"] {
  color: silver;
}
  [tcolor="plum"] {
  color: plum;
}
  [tcolor="lavender"] {
  color: lavender;
}
  [tcolor="thistle"] {
  color: thistle;
}
  [tcolor="beige"] {
  color: beige;
}
  [tcolor="gainsboro"] {
  color: gainsboro;
}
  [tcolor="ivory"] {
  color: ivory;
}
  [tcolor="linen"] {
  color: linen;
}
  [tcolor="azure"] {
  color: azure;
}
  [tcolor="snow"] {
  color: snow;
}
  [tcolor="white"] {
  color: white;
}
[tcolor="pee"] {
  color: yellow;
}
[tcolor="poop"] {
 color: brown;
}
[tcolor="boogers"] {
  color: lightgreen;
} 


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

[font="Roboto"] {
font-family:'Roboto', sans-serif;
}
[font="Open-Sans"] {
font-family:'Open Sans', sans-serif;
}
[font="Merriweather"] {
font-family:'Merriweather', sans-serif;
}
[font="Cabin"] {
font-family:'Cabin', sans-serif;
}
[font="Comic-Sans"] {
font-family:cursive;
}
[font="Indie-Flower"] {
font-family:'Indie Flower', cursive;
}
[font="Monospace"] {
font-family:monospace;
}

/* Font sizes */
[fontsize="0px"] {
font-size:0px; 
}
[fontsize="1px"] {
font-size:1px; 
}
[fontsize="2px"] {
font-size:2px; 
}
[fontsize="3px"] {
font-size:3px; 
}
[fontsize="4px"] {
font-size:4px; 
}
[fontsize="5px"] {
font-size:5px; 
}
[fontsize="6px"] {
font-size:6px; 
}
[fontsize="7px"] {
font-size:7px; 
}
[fontsize="8px"] {
font-size:8px; 
}
[fontsize="9px"] {
font-size:9px; 
}
[fontsize="10px"] {
font-size:10px; 
}
[fontsize="11px"] {
font-size:11px; 
}
[fontsize="12px"] {
font-size:12px; 
}
[fontsize="13px"] {
font-size:13px; 
}
[fontsize="14px"] {
font-size:14px; 
}
[fontsize="15px"] {
font-size:15px; 
}
[fontsize="16px"] {
font-size:16px; 
}
[fontsize="17px"] {
font-size:17px; 
}
[fontsize="18px"] {
font-size:18px; 
}
[fontsize="19px"] {
font-size:19px; 
}
[fontsize="20px"] {
font-size:20px; 
}
[fontsize="21px"] {
font-size:21px; 
}
[fontsize="22px"] {
font-size:22px; 
}
[fontsize="23px"] {
font-size:23px; 
}
[fontsize="24px"] {
font-size:24px; 
}
[fontsize="25px"] {
font-size:25px; 
}
[fontsize="26px"] {
font-size:26px; 
}
[fontsize="27px"] {
font-size:27px; 
}
[fontsize="28px"] {
font-size:28px; 
}
[fontsize="29px"] {
font-size:29px; 
}
[fontsize="30px"] {
font-size:30px; 
}
[fontsize="31px"] {
font-size:31px; 
}
[fontsize="32px"] {
font-size:32px; 
}
[fontsize="33px"] {
font-size:33px; 
}
[fontsize="34px"] {
font-size:34px; 
}
[fontsize="35px"] {
font-size:35px; 
}

/* Text */
text {
  margin: 1px;
  
}
