/* Background Colors */
[bgcolor="red"] {
background-color:red;
}
[bgcolor="orange"] {
background-color:orange;
}
[bgcolor="yellow"] {
background-color:yellow;
}
[bgcolor="green"] {
background-color:green;
}
[bgcolor="blue"] {
background-color:blue;
}
[bgcolor="purple"] {
background-color:purple;
}
[bgcolor="white"] {
background-color:white;
}
[bgcolor="black"] {
background-color:black;
}
[bgcolor="brown"] {
background-color:brown;
}
[bgcolor="violet"] {
background-color:violet;
}

/* Text Colors */
[txtcolor="red"] {
color:red;
}
[txtcolor="orange"] {
color:orange;
}
[txtcolor="yellow"] {
color:yellow;
}
[txtcolor="green"] {
color:green;
}
[txtcolor="blue"] {
color:blue;
}
[txtcolor="purple"] {
color:purple;
}
[txtcolor="white"] {
color:white;
}
[txtcolor="black"] {
color:black;
}
[txtcolor="brown"] {
color:brown;
}
[txtcolor="violet"] {
color:violet;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

[font="Roboto"] {
font-family:'Roboto', sans-serif;
}
[font="Open-Sans"] {
font-family:'Open Sans', sans-serif;
}
[font="Merriweather"] {
font-family:'Merriweather', sans-serif;
}
[font="Cabin"] {
font-family:'Cabin', sans-serif;
}
[font="Comic-Sans"] {
font-family:cursive;
}
[font="Indie-Flower"] {
font-family:'Indie Flower', cursive;
}
[font="Monospace"] {
font-family:monospace;
}
